<h1>Share Space</h1>
1.Things to Display here 
About team - team name , team number , team members with cwid 
<br>
<br>
2.About project 
2-3 lines giving a small description of the project 
<br>
<br>
New to ShareSpace
<a href="/register">register now</a>
Already a User!
<a href="/login">Login Now</a>
