<body class="body">
    <div class="loginbox">
        <h1>Login Page </h1>
    <form action="/login" method="POST">
        <div style="width: 80%; padding: 10px;">
            <label for="email">Your E Mail</label>
            <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
            <input type="text" id="email" name="email" placeholder="Your Registered email" required>
        </div>
        <div style="width: 80%; padding: 20px;">
            <label for="password">Your Password</label><br>
            <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
            <input type="text" id="password" name="password" placeholder="Your password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
        <!-- <a href="/register">Register</a> -->
    </div>
</body>