<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/login.js" defer></script>
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="logo">
        <a href="/"><h1>Share Space</h1></a>
    </div>
    <div class="login-container">
        <h1>Login Here</h1>
        <form action="/login" method="POST">
            <div class="input-container">
                <label for="email">Your E Mail</label>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="text" id="email" name="email" placeholder="Your Registered email" required>
            </div>
            <div class="input-container">
                <label for="password">Your Password</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="password" id="password" name="password" placeholder="Your password" required>
            </div>
            <br>
            <div style="color: red;">
                <% if (messages.error){%>
                    Server Error : <br>
                    <%= messages.error %>
                        <% } %>
                </div>
            <div class="clienterror" id="error"></div>
            <br>
            <button type="submit">Login</button>
        </form>
        <h2><a href="/register">Not a User ? Become a User Now !</a></h2>
    </div>
</body>
</html>