<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mylistingstyle.css">
    <title>My Listings</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <h1>Share Space</h1>
        </div>
        <div class="links">
            <a href="/viewbookings">Your Bookings</a>
            <a href="/mylistings">My Listings</a>
            <a href="/newlisting">Add Listing</a>
            <a href="/home">Home</a>
        </div>
    </div>
<div class="dhikhaolisting">
    <h1>My listings:</h1>
    <%for (let listing of data){%>
        <a href="/viewlisting/<%= listing._id.toString()%>" style="text-decoration: none;">
        <div class="mylisting">
            <div class="card-img" style="width: 200px; height: 200px;">
                <img src="/images/<%= listing.picture %>" alt="image" width="100%" height="100%">
            </div>
            <h1>
                <%= listing.address %>
            </h1>
        </a>
    <%}%>
</div>
</body>
</html>


