<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/viewbookings.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bookings.css">
    <title>My Bookings</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <h1>Share Space</h1>
        </div>
        <div class="links">
            <a href="/viewbookings">Your Bookings</a>
            <a href="/mylistings">My Listings</a>
            <a href="/newlisting">Add Listing</a>
            <a href="/home">Home</a>
        </div>
    </div>
    <div class="another">
        <h1>Your Bookings</h1>
        <div id="error" style="display: none;"></div>
        <h2>spaces you can use:</h2>
        <div class="bookings" id="bookings-container"></div>
    </div>
</body>
</html>