<script src="/js/viewbookings.js" defer></script>
<link rel="stylesheet" href="/css/bookings.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<h1>Your Bookings</h1>
spaces you can use:
<div class="bookings" id="bookings-container"></div>