html{
    height: 100vh;
}

body{
    padding: 0;
    margin: 0;
    background: black;
}
.nav{
    height: 20vh;
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    color: white;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}
.logo{
    font-size: 4vh;
    letter-spacing: 10px;
}
.links a {
    margin-left: 60px;
    padding: 40px;
    color: white;
    text-decoration: none;
    font-size: 4vh;
}
.links a:hover{
    border-bottom: 2px solid white;
}
.container1{
    background: linear-gradient(black,blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 70vh;
    color: white
}
.pagess{
    width: 600px;
    text-align: center;
    font-size: 4vh;
}
.log{
    margin: 40px;
    width: 100%;
}
.log a{
    width: 100%;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0px 7px 5px white;
    color: white;
    margin: 20px;
    padding: 15px;
    border: 2px solid white;
}
.log a:hover{
    background: black;
    box-shadow: 0px 5px 5px white;
}
@media screen and (max-width: 600px){
    .nav{
        flex-direction: column;
        height: 60vh;
    }
    .links{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}